DATABASE_URL="mysql://usuario:contraseña@localhost:3306/postulaciones"
NEXTAUTH_SECRET="cambiar-en-produccion"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@empresa.com"
ADMIN_PASSWORD="admin123"
NEXT_PUBLIC_DEVELOPER="Absolute Zero"
OPENROUTER_API_KEY="sk-or-v1-..."
# OPENROUTER_MODEL="deepseek/deepseek-chat-v3-5:free"  # modelo por defecto (gratuito)
